
.contenedorHistory {
    padding: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.history {
    font-weight: bolder; 
    margin: 0px; 
    font-size: 350%;
    color: darkturquoise;
}
.divHistory{
margin: 0px;
flex-direction: column;
align-items: center;
margin-bottom: 30px;
background-color: white;
display: flex;
justify-content: center;
}