@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900&display=swap') ;

.movinn {
	background: white;
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
  flex-wrap:wrap;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid;
  border-color: gray;
}
.movinn nav a {
	color:black;
	text-align: center;
	text-decoration: none;
	margin: 5px;;
}
.movinn .logo {
	color:black;
	font-size:30px;
}

.movinn .logo img {
	width:50px;
	vertical-align: top;
}

.movinn .logo a {
	color:black;
	text-decoration: none;
    line-height:50px;
}

.portada{
 
  display: flex;
  justify-content: space-around;
  padding-top: 92px;
   background-image: url(https://github.com/andres-aranda/agrofy-frontend-lab/blob/master/week1-2/assets/Wave-10s-1366px.png?raw=true);
   background-size: cover;
   background-position-y: bottom;
   height: 300px;
  }
  .portada p {
    font-size: 400%;
    padding-top: 50px;
  }
.mobilee{display: none;
    width: 700px;
  }
  .desk{
      display: flex;
      margin: 20px;
  }

  .menu-list {
    margin: 0;
    list-style: none;
   padding: 0px;
    color: #6B7C93;
    font-size: 16px;
    display: none;
    
    width: 100%;
    align-content: center;
  }
  
  .menu-list__item {
    background-color: whitesmoke;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-color: lightgray;
    border-bottom: 1px solid;
    
  }
  .menu-list__item a {text-decoration: none;
  color: black;}
  
  .trigger-input {
    display: none;

 }
  
  .trigger-input:checked + .trigger-wrapper .menu-list {
      display: block;
      
}
  .trigger-input:checked + .trigger-wrapper .opeen {
    display: block;
    
}
.trigger-input:checked + .trigger-wrapper .closeed {
    display: none;
    
}
.opeen{
  display: none;
}
.closeed{
  display: block;
}

  body {
    font-family: Ubuntu;
    margin: 0;
    font-weight: bold;
}


  
button.btn {
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: #01e409;
  padding:16px 62px;
  color: #fff;
  border-radius: 50px;
}
button.btn:hover {
  opacity: 0.8;
  
}
button.added {
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: blue;
  padding:16px 62px;
  color: #fff;
  border-radius: 50px;
}
button.added:hover {
  opacity: 0.8;
}
#pokemonData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonInfoBody img {
  border-radius: 50%;
  
  margin: 20px;

  background-color: teal;
}
.pokemonInfo {
  margin: 30px;
  border-radius: 20px;
  border: 0.5px solid;
  border-color: lightslategray;
  padding: 10px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 6px 6px 31px 0 rgba(91,91,91,0.91) ;
  box-shadow: 6px 6px 31px 0 rgba(91,91,91,0.91)
}
.pokemonInfoBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


 @media (max-width: 720px) {
   
    .mobilee{
        display: flex;
    }
    .desk{
        display: none;
    }
    #pokemonData {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
}
.pokemonInfoBody{
  margin: 20px;
  padding: 20px;
}
.pokemonInfo{
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
}
  }
     