section {
  margin: 20px;
}
#pokemonData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 768px)  {
  #pokemonData {
    flex-direction: column;
}
}