.bloque_video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin: 20px;
   border-radius:  0px ;
    margin: 0px; 
    justify-content: space-around; 
    background-color: darkturquoise;
}
#videos{
    display: block;
}
.centrarDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textVideo{
    align-content: center; 
    text-align: center;
    font-weight: bolder;
    color: white; 
    padding: 5px; 
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width: 768px) {
    iframe{
        width: 400px;
        height: 250px;
    }
    .bloque_video{
        flex-direction: column;
    }
  }