.movin {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: gray;
    background-color: white;
    position: fixed;
}
.movin a{
    color: black;
}
.movin h2 {
    margin: 0;
    color: black;
}
.header {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    position: 0px;
}
.header a{
    color: black;
}
.header h2 {
    margin: 0;
    color: black;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo__image {
    width: 60px;
    padding-right: 10px;
    
}
.header__menu__desktop{
    margin-right: 40px;
}
.header__menu__desktop > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__menu__desktop > ul a:not(:last-child) {
    padding-right: 1rem;
}

.header__menu__desktop > ul a:hover {
    color: #2196f3;
}

.header__menu__mobile {
    display: none;
    margin-right: 10px;
}

button.header__menu__mobile__icon {
    padding: 15px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

button.header__menu__mobile__icon:hover {
    background-color: #2196f31f;
    border-radius: 50%;
}

.header__menu__mobile__items {
    position: absolute;
    left: 0;
    top: 77px;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 10px 20px 0px;
    min-height: 40vh;
}

.header__menu__mobile__items > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header__menu__mobile__items > ul li {
    padding: 15px;
    width: 100%;
}


a {
    text-decoration: none;
    color: black;
}
button.btnh {
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: #01e409;
    padding:15px 30px;
    color: #fff;
    border-radius: 50px;
    margin-left: 20px;
  }
  button.btnh:hover {
    opacity: 0.8;
  }
  @media only screen and (max-width: 768px)  {
    .header__menu__desktop {
        display: none;
    }
    .header__menu__mobile {
        display: block;
    }
    button.btnh {
        margin-left: 0px;
    }
}