.bloqueGame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:  20px;
    margin: 20px;
    background-color: lavender;
    border-right-style: solid;
    border-color:red;
    -webkit-box-shadow: 6px 6px 31px 0 rgba(91,91,91,0.91) ;
    box-shadow: 6px 6px 31px 0 rgba(91,91,91,0.91)
}
.imgp {
    width:60px; 
    height:60px;
}
.fechaGame{
    padding: 4px ; 
    color: red; 
    font-weight: bolder; 
    font-size: 150%;
    margin-bottom: 0px;
}
.centrarGame{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: flex-start;
    border-radius: 20px;
}
.game{
    color: red; 
    font-weight: bolder; 
    font-size: 140% ; 
    margin-bottom: 0px; 
    padding: 10px ; 
    font-weight:bolder; 
    font-size: 150%;
}
@media only screen and (max-width: 768px)  {
    .bloqueGame{flex-direction: column-reverse;}
    .game{margin-top: 0px;

    }
    
}